{% extends 'base.html' %}

{% block title %}
Article #{{ article.id }}: {{ article.title }}
{% endblock %}

{% block body %}
<h1>{{ article.title }}</h1>
<div>
	<p>{{ article.body }}</p>
	<div class="row">
		<div class="col-6">
			<div>
				<small>
					published at {{ article.dt_created.strftime('%d-%m-%Y') }}
				</small>
			</div>
			<div>
				<small>
					by {{ article.author.user.username }}
				</small>
			</div>
		</div>
		<div class="col-6">
			{% if article.tags %}
				{% for tag in article.tags %}
				<a href="{{url_for('articles_app.filter', tag_name=tag.name)}}" style="text-decoration: none;">
					<span class="badge bg-primary"> {{ tag.name }} </span>
				</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<a href="{{ url_for('articles_app.list') }}">
		Back to articles
	</a>
</div>
{% endblock %}